<a href="https://colab.research.google.com/github/anvesh-lp/BruteForce/blob/main/datamodelingforAAPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.84-py2.py3-none-any.whl (29 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.9 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.84

In [ ]:
import pandas as pd
import yfinance as yf
import statsmodels.api as sm

In [ ]:
data = yf.download("AAPL", start='2015-01-01', end='2021-12-31')

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.644022,212818400
2015-01-05,27.072500,27.162500,26.352501,26.562500,23.949757,257142000
2015-01-06,26.635000,26.857500,26.157499,26.565001,23.952015,263188400
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.287872,160423600
2015-01-08,27.307501,28.037500,27.174999,27.972500,25.221067,237458000
...,...,...,...,...,...,...
2021-12-23,175.850006,176.850006,175.270004,176.279999,175.553558,68356600
2021-12-27,177.089996,180.419998,177.070007,180.330002,179.586868,74919600
2021-12-28,180.160004,181.330002,178.529999,179.289993,178.551147,79144300
2021-12-29,179.330002,180.630005,178.139999,179.380005,178.640778,62348900
2021-12-30,179.470001,180.570007,178.089996,178.199997,177.465622,59773000

In [ ]:
df = data['Adj Close'].pct_change() * 100

In [ ]:
df

Date
2015-01-02         NaN
2015-01-05   -2.817176
2015-01-06    0.009429
2015-01-07    1.402209
2015-01-08    3.842227
                ...
2021-12-23    0.364389
2021-12-27    2.297481
2021-12-28   -0.576724
2021-12-29    0.050199
2021-12-30   -0.657832
Name: Adj Close, Length: 1762, dtype: float64

In [ ]:
df = df.rename("Today")

In [ ]:
df

Date
2015-01-02         NaN
2015-01-05   -2.817176
2015-01-06    0.009429
2015-01-07    1.402209
2015-01-08    3.842227
                ...
2021-12-23    0.364389
2021-12-27    2.297481
2021-12-28   -0.576724
2021-12-29    0.050199
2021-12-30   -0.657832
Name: Today, Length: 1762, dtype: float64

In [ ]:
df = df.reset_index()

In [ ]:
for i in range(1,6):
  df['Lag '+str(i)] = df['Today'].shift(i)

In [ ]:
df

           Date     Today     Lag 1     Lag 2     Lag 3     Lag 4     Lag 5
0    2015-01-02       NaN       NaN       NaN       NaN       NaN       NaN
1    2015-01-05 -2.817176       NaN       NaN       NaN       NaN       NaN
2    2015-01-06  0.009429 -2.817176       NaN       NaN       NaN       NaN
3    2015-01-07  1.402209  0.009429 -2.817176       NaN       NaN       NaN
4    2015-01-08  3.842227  1.402209  0.009429 -2.817176       NaN       NaN
...         ...       ...       ...       ...       ...       ...       ...
1757 2021-12-23  0.364389  1.531883  1.908684 -0.812195 -0.650173 -3.926396
1758 2021-12-27  2.297481  0.364389  1.531883  1.908684 -0.812195 -0.650173
1759 2021-12-28 -0.576724  2.297481  0.364389  1.531883  1.908684 -0.812195
1760 2021-12-29  0.050199 -0.576724  2.297481  0.364389  1.531883  1.908684
1761 2021-12-30 -0.657832  0.050199 -0.576724  2.297481  0.364389  1.531883

[1762 rows x 7 columns]

In [ ]:
df['Volume'] = data.Volume.shift(1).values/1000_000_000
df = df.dropna()
df

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume
6,2015-01-12,-2.464063,0.107244,3.842227,1.402209,0.009429,-2.817176,0.214798
7,2015-01-13,0.887879,-2.464063,0.107244,3.842227,1.402209,0.009429,0.198603
8,2015-01-14,-0.381053,0.887879,-2.464063,0.107244,3.842227,1.402209,0.268368
9,2015-01-15,-2.714042,-0.381053,0.887879,-2.464063,0.107244,3.842227,0.195826
10,2015-01-16,-0.777016,-2.714042,-0.381053,0.887879,-2.464063,0.107244,0.240056
...,...,...,...,...,...,...,...,...
1757,2021-12-23,0.364389,1.531883,1.908684,-0.812195,-0.650173,-3.926396,0.092135
1758,2021-12-27,2.297481,0.364389,1.531883,1.908684,-0.812195,-0.650173,0.068357
1759,2021-12-28,-0.576724,2.297481,0.364389,1.531883,1.908684,-0.812195,0.074920
1760,2021-12-29,0.050199,-0.576724,2.297481,0.364389,1.531883,1.908684,0.079144
1761,2021-12-30,-0.657832,0.050199,-0.576724,2.297481,0.364389,1.531883,0.062349

In [ ]:
df['Direction'] = [1 if i > 0 else 0 for i in df['Today']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,2015-01-12,-2.464063,0.107244,3.842227,1.402209,0.009429,-2.817176,0.214798,0
7,2015-01-13,0.887879,-2.464063,0.107244,3.842227,1.402209,0.009429,0.198603,1
8,2015-01-14,-0.381053,0.887879,-2.464063,0.107244,3.842227,1.402209,0.268368,0
9,2015-01-15,-2.714042,-0.381053,0.887879,-2.464063,0.107244,3.842227,0.195826,0
10,2015-01-16,-0.777016,-2.714042,-0.381053,0.887879,-2.464063,0.107244,0.240056,0
...,...,...,...,...,...,...,...,...,...
1757,2021-12-23,0.364389,1.531883,1.908684,-0.812195,-0.650173,-3.926396,0.092135,1
1758,2021-12-27,2.297481,0.364389,1.531883,1.908684,-0.812195,-0.650173,0.068357,1
1759,2021-12-28,-0.576724,2.297481,0.364389,1.531883,1.908684,-0.812195,0.074920,0
1760,2021-12-29,0.050199,-0.576724,2.297481,0.364389,1.531883,1.908684,0.079144,1
1761,2021-12-30,-0.657832,0.050199,-0.576724,2.297481,0.364389,1.531883,0.062349,0

In [ ]:
df = sm.add_constant(df)

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [ ]:
df

,const,Date,Today,Lag 1,Lag 2,Lag 3,Lag 4,Lag 5,Volume,Direction
6,1.0,2015-01-12,-2.464063,0.107244,3.842227,1.402209,0.009429,-2.817176,0.214798,0
7,1.0,2015-01-13,0.887879,-2.464063,0.107244,3.842227,1.402209,0.009429,0.198603,1
8,1.0,2015-01-14,-0.381053,0.887879,-2.464063,0.107244,3.842227,1.402209,0.268368,0
9,1.0,2015-01-15,-2.714042,-0.381053,0.887879,-2.464063,0.107244,3.842227,0.195826,0
10,1.0,2015-01-16,-0.777016,-2.714042,-0.381053,0.887879,-2.464063,0.107244,0.240056,0
...,...,...,...,...,...,...,...,...,...,...
1757,1.0,2021-12-23,0.364389,1.531883,1.908684,-0.812195,-0.650173,-3.926396,0.092135,1
1758,1.0,2021-12-27,2.297481,0.364389,1.531883,1.908684,-0.812195,-0.650173,0.068357,1
1759,1.0,2021-12-28,-0.576724,2.297481,0.364389,1.531883,1.908684,-0.812195,0.074920,0
1760,1.0,2021-12-29,0.050199,-0.576724,2.297481,0.364389,1.531883,1.908684,0.079144,1
1761,1.0,2021-12-30,-0.657832,0.050199,-0.576724,2.297481,0.364389,1.531883,0.062349,0

In [ ]:
X = df[['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]

In [ ]:
y = df.Direction

In [ ]:
model = sm.Logit(y,X)
result = model.fit()
result.summary()
prediction = result.predict(X)
prediction

Optimization terminated successfully.
         Current function value: 0.687851
         Iterations 4

6       0.511596
7       0.573350
8       0.530179
9       0.566107
10      0.542404
          ...
1757    0.486658
1758    0.528170
1759    0.510784
1760    0.585893
1761    0.551587
Length: 1756, dtype: float64

In [ ]:
def confusion_matrix(act, pred):
  predtrans = ['Up' if i > 0.5 else "Down" for i in pred]
  actuals = ['Up' if i > 0 else "Down" for i in act]
  confusion_matrix = pd.crosstab(pd.Series(actuals), 
                                 pd.Series(predtrans),
                                 rownames=['Actual'],
                                 colnames=['Predicted'])
  return confusion_matrix

In [ ]:
confusion_matrix(y,prediction)

Predicted  Down   Up
Actual
Down        144  677
Up          122  813

In [ ]:
len(df)

1756

In [ ]:
(74+478)/1001

0.5514485514485514

In [ ]:
x_train = df[df.Date.dt.year < 2021][['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]
y_train = df[df.Date.dt.year < 2021]['Direction']
x_test = df[df.Date.dt.year == 2021][['const', 'Lag 1', 'Lag 2', 'Lag 3', 'Lag 4', 'Lag 5', 'Volume']]
y_test = df[df.Date.dt.year == 2021]['Direction']

In [ ]:
model = sm.Logit(y_train,x_train)
result = model.fit()
prediction = result.predict(x_test)
confusion_matrix(y_test,prediction)

Optimization terminated successfully.
         Current function value: 0.687564
         Iterations 4

Predicted  Down   Up
Actual
Down         17  100
Up           17  117

In [ ]:
(9+126)/len(x_test)

0.5378486055776892